<div class="recipes-holder">
  <h1 class="text-center">Public Recipes</h1>
  <% if !@public_recipes.blank? %>
    <% for item in @public_recipes %>
      <div class="recipe-cards flexible-size">
        <div>
          <h2 class="m-0"><%= item.name %></h2></h2>
          <span>By: <%= item.user.name %></span>
        </div>
        <div>
          <span>Total ingredients: <%= item.recipe_foods.count %></span>
          <span>Total price: $<%= item.recipe_foods.inject(0){|sum,x| sum + x.quantity * x.food.price }   %></span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
