<div class="recipes-holder">
  <h1 class="text-center">Public Recipes</h1>
  <div class="recipe-cards flexible-size">
    <div>
      <h2 class="m-0">Simple Dish</h2>
      <span>By: David</span>
    </div>
    <div>
      <span>Total food items: 4</span>
      <span>Total price: $203</span>
    </div>
  </div>
  <div class="recipe-cards flexible-size">
    <div>
      <h2 class="m-0">Complex Dish</h2>
      <span>By: George</span>
    </div>
    <div>
      <span>Total food items: 4</span>
      <span>Total price: $300</span>
    </div>
  </div>
</div>
