<div class="recipes-container">
  <div class="recipes-holder center">
    <div class="add-recipe">
      <button>Add Recipe</button>
    </div>
    <div class="recipe-cards">
      <div class="left-info">
        <h2>Recipe #</h2>
        <button>Remove</button>
      </div>
      <div class="right-info">
        <p>Description - minim veniam, quis nostrud exercitation ullamco <br>laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <div class="recipe-cards">
      <div class="left-info">
        <h2>Recipe #</h2>
        <button>Remove</button>
      </div>
      <div class="right-info">
        <p>Description - minim veniam, quis nostrud exercitation ullamco <br>laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <div class="recipe-cards">
      <div class="left-info">
        <h2>Recipe #</h2>
        <button>Remove</button>
      </div>
      <div class="right-info">
        <p>Description - minim veniam, quis nostrud exercitation ullamco <br>laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </div>
</div>