<div class="recipes-container">
  <div class="recipes-holder center">
    <div class="add-recipe">
      <%= link_to "Add Recipe", new_recipe_path %>
    </div>

    <% if @recipes.empty? %>
      <p>No recipies yet!</p>
    <%else%>
      <% @recipes.each do |recipe| %>
        <div class="recipe-cards">
          <div class="left-info">
            <h2><%= recipe.name %></h2>
            <button><%= link_to("Remove", delete_recipe_path(recipe)) %></button>
          </div>
          <div class="right-info">
            <p><%= recipe.description %></p>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
</div>