<div class="recipes-container">
  <div class="recipes-holder-show center">
    <div class="recipe-info">
      <h2>Recipe #</h2>
    </div>
    <div class="recipe-details">
      <div class="left-details">
        <p>Preparation Time: 1hrs<p>
        <p>Cooking Time: 1.5hrs<p>
        <p>Instructions: ----- <p>
      </div>
      <div class="right-details">
        <p>Public <%= check_box_tag (:id_name) %></p>
      </div>
    </div>
    <div class="recipe-buttons">
      <button class="left-btn btn">Generate Shopping List</button>
      <button class="right-btn btn">Add Ingredients</button>
    </div>
    <div class="table-data">
      <table>
        <tr>
          <th>Food</th>
          <th>Quantity</th>
          <th>Value</th>
          <th>Actions</th>
        <tr>
          <tr>
            <td>Apple</td>
            <td>20g</td>
            <td>$100</td>
            <td class="flex-items">
              <button>Modify</button>
              <button>Remove</button>
            </td>
          </tr>
          <tr>
            <td>Milk</td>
            <td>500ml</td>
            <td>$60</td>
            <td class="flex-items">
              <button>Modify</button>
              <button>Remove</button>
            </td>
          </tr>
          <tr>
            <td>Flour</td>
            <td>50g</td>
            <td>$410</td>
            <td class="flex-items">
              <button>Modify</button>
              <button>Remove</button>
            </td>
          </tr>
      </table>
    </div>
  </div>
</div>