<div class="flex-col">
  <div class="add-recipe"><button>Add Food</button></div>
  <div class="table-data flexible-size">
    <table>
      <tr>
        <th>Food</th>
        <th>Measurement Unit</th>
        <th>Unit Price</th>
        <th>Actions</th>
      </tr>
      <tr>
        <td>Apple</td>
        <td>grams</td>
        <td>$5</td>
        <td><a href="#">Delete</a></td>
      </tr>
      <tr>
        <td>Pineapple</td>
        <td>grams</td>
        <td>$1</td>
        <td><a href="#">Delete</a></td>
      </tr>
      <tr>
        <td>Chicken Breasts</td>
        <td>Units</td>
        <td>$2</td>
        <td><a href="#">Delete</a></td>
      </tr>
    </table>
  </div>
</div>
