<div>
  <button>Add Food</button>
  <div>
    <div>
      <div>Food</div>
      <div>Measurement Unit</div>
      <div>Unit Price</div>
      <div>Actions</div>
    </div>
    <div>
      <div>Apple</div>
      <div>grams</div>
      <div>$5</div>
      <div><a href="#">Delete</a></div>
    </div>
  </div>
</div>